<div class="col-xs-6 col-xs-offset-3">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="well">
        <h3 class="text-center lead">Track's generes</h3>

        <ul class="list-group">
            <li ng-repeat="genre in genres" ng-click="openEditForm(genre.id, genre.name)" class="list-group-item">{{genre.name}}</li>
        </ul>

        <div class="add_tracks text-center">
            <button ng-click="addNewGenre = ! addNewGenre" type="button" class="btn btn-default btn-block">Add new track</button>
        </div>
    </div>

    <div class="well new_genre" ng-show="addNewGenre">
        <div class="close_genre">
            <i ng-click="clearGenreForm()" class="pull-right fa fa-times fa-2x"></i>
        </div>
        <form>
            <div class="form-group">
                <input type="text" ng-model="genreName" class="form-control" placeholder="Genre Name:punk rock">
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" ng-click="saveGenre()">Save track</button>
            </div>
        </form>
    </div>
</div>
